@import "tailwindcss";

@theme {
  --color-brilliance: hsl(0, 0%, 99.61%);
  --color-malt: hsl(32, 30%, 80.39%);
  --color-dark-orchestra: hsl(42.86, 22.58%, 12.16%);
  --color-creole: hsl(38.82, 17.53%, 19.02%);
  --color-mountain-peak: hsl(44.21, 27.54%, 86.47%);
  @keyframes carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  --animate-carousel: carousel 5s linear infinite;
}
