<section>
  <div class="carousel basic">
    <div class="group">
      <!-- <div class="card">A</div> -->
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-1.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-2.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-3.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-4.webp" alt="" />
        </picture>
      </div>
    </div>
    <div aria-hidden class="group">
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-1.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-2.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-3.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-4.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>

<style>
  .carousel {
    margin: 0 auto;
    padding: 0 0;
    overflow: hidden;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
  }
  .group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: spin 65s linear infinite;
  }

  .card {
    width: 280px;
    color: white;
    padding: 0 12px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 768px) {
    .card {
      width: 400px;
      padding: 0 20px;
    }
  }

  @keyframes spin {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
