<section>
  <div class="carousel basic">
    <div class="group">
      <!-- <div class="card">A</div> -->
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-1.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-2.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-3.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-4.webp" alt="" />
        </picture>
      </div>
    </div>
    <div aria-hidden class="group">
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-1.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-2.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-3.webp" alt="" />
        </picture>
      </div>
      <div class="card">
        <picture>
          <img src="../../src/assets/images/carousel-4.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>

<style>
  .carousel {
    margin: 0 auto;
    padding: 0 0;
    /*max-width: 700px;*/
    overflow: hidden;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
  }
  .group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: spin 65s linear infinite;
  }

  .card {
    /*width: 100%;*/
    width: 400px;
    color: white;
    /*border-radius: 24px;*/
    /*box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;*/
    /* padding: 20px; */
    padding: 0 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    /*min-height: 200px;*/

    /*&:nth-child(1) {
      background: #7958ff;
    }

    &:nth-child(2) {
      background: #5d34f2;
    }

    &:nth-child(3) {
      background: #4300da;
    }*/
  }

  @keyframes spin {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
