<section class="flex flex-col items-center justify-center max-w-[940px] mx-auto gap-y-4 pb-12 pt-18" id="about">
  <h1 class="lg:text-h2 text-h4 font-extralight text-camel leading-[1.2]">ARTE <span class="font-normal">ORGÁNICO</span></h1>
  <p class="font-creato text-base text-bCoffe w-[90%] lg:w-[70%] text-center">Creemos que cada persona y cada familia es especial; todos tenemos una historia única que merece ser contada. En este espacio, transformamos esa esencia en objetos tangibles. Gracias por visitarnos y por permitir que nuestras piezas formen parte de tu historia.</p>
</section>