<section class="flex flex-col items-center justify-center max-w-[940px] mx-auto gap-y-4">
  <h1 class="text-h2 font-extralight text-camel">SOMOS <span class="font-medium">I.LAPSO</span></h1>
  <p class="font-creato text-base text-bCoffe w-[70%] text-center">Creemos que cada persona, cada familia, es especial, y tiene algo que les hace únicos que debe ser contado. Por eso, te damos la bienvenida y las gracias por formar parte de este proyecto.</p>
</section>