---
const { content } = Astro.props;
---

<section class="flex flex-col items-center justify-center max-w-[1500px] mx-auto px-6 lg:px-20 pt-28 pb-18 lg:pb-28 lg:gap-y-12 gap-y-8">
  <h1 class="text-h3 lg:text-h2 font-extralight text-camel leading-[1.2] text-center">{content.title}</h1>
  <h6 class="lg:text-base text-pharagraph-small text-camel font-bold text-center">{content.subtitle}</h6>
  <p class="lg:text-base text-pharagraph-small text-bCoffe text-center lg:w-[70%]">{content.description}</p>
</section>