---
import "../styles/global.css";
import CookieBanner from "../components/CookieBanner.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ilapso</title>
  </head>
  <!-- <body class="bg-brilliance px-18 pb-18"> -->
  <body class="bg-bgWhite">
    <slot />
    <CookieBanner />
  </body>
</html>

<style>
  * {
    border: 1px solid red;
  }

  * {
    scroll-behavior: smooth;
  }
</style>
